.bg{
    -fx-background-color: white;
    -fx-font-size: 12pt;
    -fx-font-family: "arial";
    -fx-text-fill: black;
}

.namelabel{
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: blue
}


.button1{
    -fx-font: 16 arial;
    -fx-text-fill: green;
    -fx-font-weight: bold;
    -fx-base: #b7d8c9;
}

.button:hover{
    -fx-text-fill: white;
    -fx-background-color: #3a3a3a;
}